<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="bg-circle blue"></div>
    <div class="bg-circle orange"></div>

    <div class="card">
      <h2>Student Management</h2>

      <a href="/add" class="btn-link">Add Student</a>
      <a href="/list" class="btn-link">View All Students</a>
      <a href="/filter" class="btn-link">Filter Students</a>
      <a href="/search" class="btn-link">Search Students</a>

      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  </body>
</html>
